.app {
  display: grid;
  grid-template-rows: max-content 1fr;
  width: 100%;
  min-height: 100vh;
}

.app__header {
  padding: 30px 20px;
  background-color: #0e0e2c;
  color: #fafcfe;
}

.app__title {
  max-width: 500px;
  margin: 0 auto;
}
